* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(219, 205, 185);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  display: grid;
  justify-content: center;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bolder;
}

.navbar-toggler {
  font-size: 2rem;
  font-weight: bolder;
}

nav ul li {
  list-style-type: none;
}

nav ul, a {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: none;
}

main {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  margin-bottom: 1rem;
}

.imgPpal {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1, h2 {
  display: grid;
  justify-content: center;
  list-style-type: none;
}
h1 hr, h2 hr {
  width: 40rem;
  height: 0.1rem;
  margin: auto;
}

h1 {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

p {
  color: black;
  font-weight: lighter;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.parrafoGrande {
  color: grey;
}

.formulario {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 2rem;
  gap: 0.5rem;
}

.enviar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mapa {
  border: 1rem solid black;
  border-radius: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

footer {
  width: 100%;
  padding: 0.5rem;
  max-width: 1920px;
  margin: auto;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 112rem;
  padding-left: 7.65rem;
  padding-right: 7.65rem;
  margin: auto;
}

.datos1 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  text-align: center;
}

.datos2 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}

.us {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-left: 7rem;
  padding-right: 7rem;
  text-align: center;
}

.redes {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin: auto;
  text-align: center;
}

.aFooter {
  color: black;
  font-weight: bolder;
}

.dFooter {
  text-decoration: underline;
}

.bFooter {
  padding-left: 1rem;
  padding-right: 1rem;
}

.eFooter {
  font-weight: lighter;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

.marcas-img {
  grid-area: marcas;
}

.clientes-img {
  grid-area: clientes;
}

.gruesa-img {
  grid-area: gruesa;
}

.terminaciones-img {
  grid-area: terminaciones;
}

footer {
  grid-area: footer;
}

.extends, footer, header {
  border: 0.3rem solid black;
}

header {
  background-color: rgb(110, 140, 223);
  border-radius: 0 0 4rem 4rem;
}

footer {
  background-color: teal;
  border-radius: 4rem 4rem 0 0;
}

img {
  width: 30rem;
  height: 25rem;
}

img:hover {
  transform: scale(1.1);
  transition: all 3s;
}

.imgPpal:hover {
  transform: none;
  transition: none;
}

.acercar {
  overflow: hidden;
}

.acercar .imgPpal {
  transition: all 3s;
}

.acercar:hover .imgPpal {
  transform: scale(1.1);
}

.envoltura {
  display: grid;
  grid-template-areas: "header" "nav" "main" "marcas" "clientes" "gruesa" "termin" "footer";
}
@media screen and (min-width: 420px) {
  .envoltura {
    display: grid;
    grid-template-areas: "header header" "nav nav" "main main" "marcas marcas" "clientes clientes" "gruesa gruesa" "termin termin" "footer footer";
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .envoltura {
    display: grid;
    grid-template-areas: "header header header" "nav nav nav" "main main main" "marcas marcas marcas" "clientes clientes clientes" "gruesa gruesa gruesa" "termin termin termin" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .envoltura {
    color: black;
  }
}

.marcas-img, .clientes-img,
.gruesa-img, .terminaciones-img {
  display: grid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1.5rem;
  justify-items: center;
  font-size: 25rem;
}
@media screen and (min-width: 420px) {
  .marcas-img, .clientes-img,
.gruesa-img, .terminaciones-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .marcas-img, .clientes-img,
.gruesa-img, .terminaciones-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .marcas-img, .clientes-img,
.gruesa-img, .terminaciones-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    gap: 3rem;
  }
}

.datos1, .datos2, .us {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .datos1, .datos2, .us {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .datos1, .datos2, .us {
    width: 33%;
  }
}

img, .formulario, .mapa {
  width: 25rem;
  height: 20rem;
  border: 0.4rem solid black;
  border-radius: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin: auto;
}

.imgPpal {
  border: none;
  border-radius: 0rem;
}

/* de 420px a 768px */
@media screen and (min-width: 420px) {
  header {
    padding: 2rem;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  p {
    margin-left: 2%;
    margin-right: 2%;
  }
  .imgPpal {
    width: 45rem;
    height: 40rem;
  }
  .formulario, .mapa {
    width: 30rem;
    height: 25rem;
  }
}
/* de 768px a 1200px */
@media screen and (min-width: 768px) {
  header {
    padding: 2rem;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem;
  }
  .imgPpal {
    width: 60rem;
    height: 55rem;
  }
  .formulario {
    width: 74rem;
    height: 30rem;
  }
  .mapa {
    width: 74rem;
    height: 60rem;
  }
}
/* de 1200px en adelante */
@media screen and (min-width: 1200px) {
  p {
    color: black;
    font-weight: lighter;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 25rem;
    padding-right: 25rem;
  }
  .imgPpal {
    width: 103.5rem;
    height: 75rem;
  }
  .formulario {
    width: 74rem;
    height: 30rem;
  }
  .mapa {
    width: 74rem;
    height: 60rem;
  }
}/*# sourceMappingURL=estilo.css.map */